.default-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.spacer {
  visibility: hidden;
}

/* TOP HALF PAGES */

.fritters-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

#filled-add-choc {
  position: relative;
  top: 50%;
  background-color: rgb(132, 82, 60);
  color: white;
}

/* BOTTOM HALF PAGES */

.kolache-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.kolache-section {
  width: 50%;
}

.kolache-section > h2 {
  color: white;
  text-transform: uppercase;
  font-size: 3vmin;
  text-align: center;
}

.kolache-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vmin;
  margin-top: 5vh;
  height: 35vh;
}

.separator {
  width: 2px;
  background-color: white;
  height: 95%;
}

.offset-left {
  position: relative;
  left: 50%;
}

.drinks-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.drinks-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1vw;
}
