.order-container {
  display: grid;
  grid-template-rows: 17% 5% 1fr 12%;
  background-color: rgb(206, 206, 206);
  border: 1px solid #1c1c1c;
}

#name-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Sans-serif;
  font-size: 2vh;
  color: black;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.order-list-container {
  overflow-y: scroll;
}
.order-list-container::-webkit-scrollbar {
  display: none; /* remove scroll bar */
}

.order-item {
  padding: 1vh 0.7vw 1vh 0.5vw;
  color: rgb(0, 51, 255);
  cursor: pointer;
}

.order-item:hover {
  background-color: rgba(255, 255, 255, 0.484);
}

.selected-item {
  background-color: rgb(212, 234, 253);
}

.selected-item:hover {
  background-color: rgb(228, 241, 252);
}

.text-order-container {
  font-size: 0.9vw;
  display: flex;
  align-items: center;
  width: 100%;
}
.order-quantity-text {
  width: 1.5vw;
  text-align: center;
  margin-right: 1.4vw;
}
.order-item-text {
  flex-grow: 1;
}

.order-modifications {
  padding-left: 30px;
  color: rgb(0, 51, 255);
}

.checkout-button {
  background-color: green;
  color: white;
  height: 100%;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
}

.checkout-button:active {
  transform: translateY(2px);
}
