* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.panel-container {
  background-color: #f8f6f6;
  display: grid;
  grid-template-columns: 110px 1fr 400px;
  grid-template-rows: 1fr; /* Equal height rows */
  box-sizing: border-box;
  width: 100%;
}

/* global button logic */

button:active {
  transform: scale(0.99);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Smaller shadow */
}

.disabled-button {
  cursor: not-allowed !important;
}
.disabled-button:active,
.disabled-button:focus {
  transform: none !important;
  box-shadow: none !important;
  outline: none;
}
