* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.panel-container {
  background-color: #f8f6f6;
  display: grid;
  grid-template-columns: 110px 1fr 400px;
  grid-template-rows: 1fr; /* Equal height rows */
  box-sizing: border-box;
  width: 100%;
}
